<div class="loader" ng-hide="dataLoaded">
	<div class="flip">
		<div class="front"></div>
		<div class="back"></div>
	</div>
</div>
<div class="contents-wrapper animated fadeIn">
	<div class="list-content">
		<div class="container">
			<div class="row">
				<div class="12u">
					<div class="returned-header">
						<h2>
							Day Surgeries for {{currentCategory}}
						</h2>
						<br>
					</div>
					<ul class="returned-list" ng-show="dataLoaded">
<!--						<li>
							<h3>{{currentCategory}}</h3>
						</li>
-->

						<li id="{{surgery.name}}" ng-repeat="surgery in surgeries| orderBy:'name' | filter: lowercase" class="animated fadeIn">

							<div class="treatment-name"><a ng-href="/surgeries/{{surgery.url}}" ng-click="gaSurgeries(surgery.name)">{{surgery.name}}</a></div>
							<div class="treatment-price""><span ng-if="surgery.minPrice > 0 && surgery.maxPrice > 0" class="patients">${{surgery.minPrice}} - ${{surgery.maxPrice}}</span></div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
