<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="rokketMed" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="rokketMed" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="rokketMed" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="rokketMed" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<title ng-bind="siteTitle">RokketMed</title>

	<base href="/" />

	<link rel="shortcut icon" href="favicon.ico">
	<link rel="apple-touch-icon" sizes="72x72" href="favicon-72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="favicon-144.png">
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjcqCylteTj7r4BpOoGKvFWcdHd0o-UDA"></script>
	<!-- build:js -->
	<script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-scroll/angular-scroll.min.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="bower_components/lodash/lodash.min.js"></script>
	<script src="bower_components/angularytics/dist/angularytics.js"></script>
<!-- Meta description has to be upddated
-->

	<meta name="description" content="RokketMed is your site to shop for your healthcare needs. We know choice, quality and price matters so we at RokketMed are making it simple for you to shop.">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- build:css -->
	<link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
	<link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
	<link rel="stylesheet" href="css/style.css">
	<link href="css/animations.css" rel="stylesheet" type="text/css">
	<link href="css/animate.css" rel="stylesheet" type="text/css">
	<!-- endbuild -->

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet" type="text/css">

	<script src="js/skel.min.js"></script>
	<script>
	skel.init({
		prefix: 'css/style',
		resetCSS: true,
		boxModel: 'padding',
		grid: { gutters: 20 },
		breakpoints: {
			hd: { range: '1600-', containers: 1200, grid: { gutters: 60 } },
			widest: { range: '-1599', containers: 1200, grid: { gutters: 60 } },
			wide: { range: '-1199', containers: 1000, grid: {gutters: 40 } },
			tablet: {range: '-877', containers: 'fluid', grid: {gutters: 20 } },
			mobile: { range: '-480', containers: 'fluid', lockViewport: true, grid: { collapse: true } }
		}
	});
	</script>
</head>

<script>
  window.intercomSettings = {
    app_id: "ts6tmo1h"
  };
</script>
<body ng-controller="MainController" ng-cloak ng-class="{'modal-open': modal_opened, 'hidden': !dataLoaded}">
	<div>
		<div class="container">
			<nav>
				<div class="row">
					<div class="3u">
						<a id="logo" href="/">RokketMed</a>
						<span class="mobile-menu mobile-only"  ng-click="revealMobile()">&#9776;</span>
					</div>
					<div class="9u">
						<ul class="navigation">
							<li><a href="/treatments" ng-click="gaServices('Treatments')">Walk-In & Virtual Clinics</a></li>
							<li><a href="/surgeries-categories" ng-click="gaServices('Surgeries')">Day Surgery Centers</a></li>

							<li>
								<form ng-submit="searchFor(1)">
									<input id="selected-option" ng-model="search.selected_option" autocomplete="off" ng-focus="showDropdownList()" ng-change="searchFor(2)" placeholder="SEARCH"/>
								</form>
								<ul ng-if="!hideDropdown" class="base-drop-down drop-down active">
									<li ng-repeat="result in results" >
										<a ng-click="clearSearch()" ng-if="result.type != 'business'" ng-href="/{{result.type}}/{{result.name}}"> class="ng-cloak">
											{{result.name}}
											<label class="search-label"><strong> class="ng-cloak">{{result.title}}</strong></label>
										</a>
										<a ng-click="clearSearch()" ng-if="result.type == 'business'" ng-href="/{{result.type}}/{{result.name}}/{{result.id}}">
											{{result.name}}
											<label class="search-label"><strong> class="ng-cloak">{{result.title}}</strong></label>
										</a>
									</li>
								</ul>
							</li>

						</ul>
						<ul class="mobile-dd-menu animated" ng-show="visible" ng-cloak>
							<li><a href="/treatments" ng-click="gaServices('Treatments')">Retail & Virtual Clinics</a></li>
							<li><a href="/surgeries-categories" ng-click="gaServices('Surgeries')">Day Surgery Centers</a></li>

							<li class="search-li">
								<form ng-submit="searchFor(1)">
									<input id="selected-option-mobile" ng-model="search.selected_option" autocomplete="off" ng-change="searchFor(2)" placeholder="SEARCH"/>
								</form>
								<ul ng-if="hideDropdown" class="base-drop-down drop-down active">
									<li ng-repeat="result in results" >
									  <a ng-click="clearSearch()" ng-if="result.type != 'business'" ng-href="/{{result.type}}/{{result.name}}">
										{{result.name}}
										<label class="search-label"><strong>{{result.title}}</strong></label>
									  </a>
									  <a ng-click="clearSearch()" ng-if="result.type == 'business'" ng-href="/{{result.type}}/{{result.name}}/{{result.id}}">
									 	{{result.name}}
										<label class="search-label"><strong>{{result.title}}</strong></label>
									  </a>
									</li>

								</ul>
							</li>

						</ul>
					</div>
				</div>
			</nav>
		</div>
	</div>

	<!--[if lt IE 7]>
	<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->

	<div id="main-container" ng-class="{'is-home': isHome}">
		<div id="body" ng-view autoscroll="true"></div>
	</div>

	<footer>
		<ul>
			<li>
				<span class="copyright">&copy;2016 RokketMed</span>
				<a href="/terms">Terms</a>
				<a href="/privacy">Privacy</a>
				<a href="http://blog.rokketmed.com" target="_blank">Blog</a>

			</li>
			<li><a href="https://twitter.com/rokketmed" class="twitter-social" target="_blank" ></a></li>
		</ul>
		<div class="clear"></div>
	</footer>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-58429315-4', 'auto');
ga('send', 'pageview');

</script>

<script src="js/lib/jquery-2.1.3.min.js"></script>
<script src="js/lib/quickblox.js"></script>
<script src="js/lib/fastclick.js"></script>
<script src="js/gmaps.js"></script>
<script src="app.js"></script>
<script src="services/getData.js"></script>
<script src="services/quickblox.js"></script>
<script src="services/locations.js"></script>
<script src="directives/toggle-alphabet/toggle-alphabet-directive.js"></script>
<script src="views/home/home.js"></script>
<script src="views/treatments/treatments.js"></script>
<script src="views/surgeries/categories.js"></script>
<script src="views/surgeries/surgeries.js"></script>
<script src="views/results/results.js"></script>
<script src="views/details/details.js"></script>
<script src="views/terms/terms.js"></script>
<script src="views/search/search.js"></script>
<script src="views/privacy/privacy.js"></script>
<script src="js/plugins.js"></script>
<script src="js/html5shiv.js"></script>
<!-- endbuild -->
</body>
<script>
height = $('footer').height();
$("body").css("padding-bottom", height);
jQuery(window).on('resize', function(){
	height = $('footer').height();
	$("body").css("padding-bottom", height);
});
</script>
</html>
