<section id="top-part">
    <div class="row">
      <div class="12u">
        <header id="tagline">
          <h2 class="stub">5 minutes will save you</br> up to 50% on your next doctor's visit</h2>
        </header>
      </div>
    </div>
</section>
<div id="main-site">
  <h3>Trending RokketMed Appointments for Walk-in & Virtual Clinics</h3>
    <section id="app">
		<div class="feature" ng-click="goTo(item.type,item.name)" ng-repeat="item in featuredItems" ng-class="{'last':$last}">
			<h4>{{item.name | limitTo: 30}}</h4>
			<p class="description">{{item.description | limitTo: 200}}{{(item.description.length>200)?"...":""}}</p>
			<span class="price-range">${{item.minPrice}}</span>
		</div>
		<div class="clear"></div>
    </section>
    <div class="social-region">
      <ul class="social">
  			<li>
  				<a href="https://itunes.apple.com/us/app/rokketmed/id1024147868?mt=8" class="apple-store" target="_blank" >
  					<img src='../img/apple.svg' height="40px" />
  				</a>
  				<a href="https://play.google.com/store/apps/details?id=com.ionicframework.rokketmed786682" class="google-store" target="_blank" >
  					<img src='../img/google.png' height="40px" />
  				</a>
  			</li>
  		</ul>
    </div>
</div>
